* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', serif;
    text-decoration: none;
}
.header-store {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #ffd58d;
    padding: 1rem 0;
}

.header-store svg {
    color: #923737;
    margin: 0 1rem;
    border-bottom: 1px solid #000;
    border-radius: 30%;
   
}
.header-section {
    text-align: left;
    padding: 0 1rem;
}

.bg-image {
    background-image: url('./imgs/ecommercebg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.main-form-container { 
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: rgba(255 ,255 ,255 ,0.15);
}

/* Login CSS */

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    max-width: 530px;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: #fff;
}
.login-form label { 
    font-size: 1.322rem;
    color: #000;
}
.login-form input {
    margin: .5rem;
    padding: 1rem 4px;
}
.login-form label ,.login-form input, .login-form button {
    width: 75%;
    align-self: center;
}
.login-form button, .form-helpers a {
    padding: 1rem .6rem;
    cursor: pointer;
    background-color: #ffd997;
    font-weight: 650;
    font-size: 1.123rem;
    margin: .5rem auto;
    border: .5px solid #000;
    color: #000;
    border-radius: 12px;
}
.login-form button:hover {
    background-color: #f4b952;
}
.form-helpers a:hover{
    background-color: #f4b952;
}

/*  */

/* Registro CSS */

.bg-shopp {
    background-image: url('../assets/imgs/eshopreg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 180px;
    background-position: center 80%;
}

.registration-form {
    display: flex;
    border-bottom: .5px solid #000;
    border-top: .5px solid #000;
    justify-content: center;
    margin: 1rem;
    padding: 1rem 0;
    flex-direction: column;
}
.registration-form label {
    font-size: 1.3rem;
}
.container-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-inputs>input[type="checkbox"] {
    width: 50px;
}
input[type="checkbox"] {
    height: 20px;
    width: 20px;
}
.registration-form label, .registration-form input {
    align-self: center;
    width: 50%;
    margin: .5rem 0;
    max-width: 500px;
    padding: .3rem .5rem;
}
.registration-form input {
    padding: .5rem 0;
}
.buttons-registro {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem auto;
    align-items: center;
}
.button-registro {
    align-self: center;
    margin: 1.5rem;
    font-size: 1.232rem;
    padding: 1rem;
    color: #000;
    cursor: pointer;
    border: .5px solid #000;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #ffd997;
}
.button-registro:hover {
    background-color: #f4b952;
}
.footer-commerce { 
    background-color: #ffd58df2;
    padding: 1rem auto;
    text-align: center;
}
.container-ul-footer {
    display: flex;
    width: 90%;
    margin: auto;
    border-bottom: .5px solid #000;
}
.ul-footer-one, .ul-footer-two {
    padding: 1rem 6px;
    text-align: left;
    list-style-type: none;
    margin: 0 auto;
}
ul {
    list-style-type: none;
}
ul a {
    text-decoration: none;
    color: #020202;
    margin: 0 12px;
    align-self: center;
}
.errorsp {
    font-size: 1rem;
    padding: 6px;
    border: .5px solid #c12727;
    color: #c12727;
    border-radius: 4px;
}

.modal-redirect {
    position: fixed;
    font-family: system-ui, serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modal-redirect p {
    width: 350px;
    margin: 25% auto;
    border-radius: 8px;
    position: relative;
    padding: 1rem 18px;
    background-color: #fff;
}
.close-modal {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    border-radius: 12px;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
}
/*  */
.main-form-container div {
    display: flex;
    width: 80%;
    margin: 1rem auto;
    justify-content: space-evenly;
    align-items: center;
}
@media (width > 1024px) {
    .end-page-ul {
        display: flex;
        justify-content: center;
        margin: 1.5rem auto;
    }
}
@media (width <= 768px) {
    .form-helpers {
        flex-direction: column;
        margin: 1rem;
    }
}