@font-face {
    font-family: titleFont;
    src: url(./fonts/santor.otf);
}

:root {

    --background-color3: #ededed;
    --background-hover : #e2e2e2b5;

    --Border-color: #ffb700;

    --main-brand-color: #2f8d46; 

    --background-color4: #939393c3;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', serif;
    text-decoration: none;
}
.header-store {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--background-color3);
    padding: 2rem 0;

}
.header-store a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #020202;
    width: 30%;
    text-decoration: none;
}
.header-store svg {
    color: var(--main-brand-color);
    margin: 0 1rem;
    border-bottom: 1px solid #000;
    border-radius: 30%;  
}

.header-section {
    text-align: center;
    padding: 0 1rem;
    width: 100%;
    color: var(--main-brand-color);

}
.header-section h1 {
    font-family: titleFont, serif;
}
.bg-image {
    background-image: url('./imgs/ecommercebg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.main-form-container { 
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: rgba(255 ,255 ,255 ,0.15);
}

/* Login CSS */
.container-mssg-login {
    display: none;
    width: 70%;
    padding: 12px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff0f0;
}
.container-mssg-login> p {
    color: #bd5a5a;
    font-size: 1.123rem;
    margin: 0;
}
.container-mssg-login> svg {
    color: #020202;
    cursor: pointer;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    max-width: 530px;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: #fff;
}
.login-form label { 
    font-size: 1.322rem;
    color: #000;
}
.login-form input {
    margin: .5rem;
    padding: 1rem 4px;
}
.login-form label ,.login-form input, .login-form button {
    width: 75%;
    align-self: center;
}
.login-form button, .form-helpers a {
    border-radius: 6px;
    box-shadow:  6px 6px 12px #c1c1c1,
             -6px -6px 12px #ffffff;
    padding: 1rem .6rem;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.123rem;
    font-weight: bolder;
    margin: .5rem auto;
    color: #000;
}
.login-form button:hover, .form-helpers a:hover {
    color: rgb(249, 251, 248);
    background-color: #02020244;
}
/*  */

/* Registro CSS */

.bg-shopp {
    background-image: url('../assets/imgs/eshopreg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 180px;
    background-position: center 80%;
}

.registration-form {
    display: flex;
    border-bottom: .5px solid #000;
    border-top: .5px solid #000;
    justify-content: center;
    margin: 1rem;
    padding: 1rem 0;
    flex-direction: column;
}
.registration-form label {
    font-size: 1.3rem;
}
.container-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-inputs>input[type="checkbox"] {
    width: 50px;
}
input[type="checkbox"] {
    height: 20px;
    width: 20px;
}
.registration-form label, .registration-form input {
    align-self: center;
    width: 50%;
    margin: .5rem 0;
    max-width: 500px;
    padding: .3rem .5rem;
}
.registration-form input {
    padding: .5rem 0;
}
.buttons-registro {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem auto;
    align-items: center;
}
.button-registro {
    align-self: center;
    margin: 1.5rem;
    font-size: 1.232rem;
    padding: 1rem;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    box-shadow:  6px 6px 12px #c1c1c1,
             -6px -6px 12px #ffffff;
}
.button-registro:hover {
    color: rgb(249, 251, 248);
    background-color: #6f6e6e9f;
}
.footer-commerce { 
    background-color: var(--background-color3);
    padding: 1rem auto;
    text-align: center;
}
.container-ul-footer {
    display: flex;
    width: 90%;
    margin: auto;
    border-bottom: .5px solid #000;
}
.container-ul-footer>ul a li {
    padding: 4px;
}
.end-page-ul li {
    margin: auto;
    padding: 6px 8px;
    width: max-content;
}
.container-ul-footer>ul li:hover, .end-page-ul li:hover {
    background: #dfdedebc;
}
.ul-footer-one, .ul-footer-two {
    padding: 1rem 6px;
    text-align: left;
    list-style-type: none;
    margin: 0 auto;
}
ul {
    list-style-type: none;
}
ul a {
    text-decoration: none;
    color: #020202;
    margin: 0 12px;
    align-self: center;
}

.button-action-google {
    width: 70%;
    border: .5px solid #020202;
    padding: 8px;
    display: flex;
    border-radius: 6px;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.button-action-google:hover {
    background-color: #ededed;
}

.errorsp {
    font-size: 1rem;
    padding: 6px;
    border: .5px solid #c12727;
    color: #c12727;
    border-radius: 4px;
}
.registration-message {
    display: none;
    align-items: center;
    border: .5px solid #c12727;
    background-color: #f2f2f2;
    padding: .5rem;
    justify-content: space-between;
}
.registration-message p {
    margin: 0;
    text-align: center;
    font-size: 1.212rem;
}
.registration-message svg {
    color: #000;
    cursor: pointer;
}
.modal-redirect {
    position: fixed;
    display: none;
    font-family: system-ui, serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modal-redirect p {
    width: 350px;
    margin: 25% auto;
    border-radius: 8px;
    position: relative;
    padding: 1rem 18px;
    background-color: #fff;
}
.close-modal {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    border-radius: 12px;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
}
/*  */
.main-form-container div {
    display: flex;
    width: 80%;
    margin: 1rem auto;
    justify-content: space-evenly;
    align-items: center;
}

.tienda-copy {
    color: var(--main-brand-color);
}
@media (width > 1024px) {
    .end-page-ul {
        display: flex;
        justify-content: center;
        margin: 1.5rem auto;
    }
}
@media (width <= 768px) {
    .form-helpers {
        flex-direction: column;
        margin: 1rem;
    }
}