:root {
    --background-color1: #fafaff;
    --background-color2: #ffffff;
    --background-color3: #ededed;
    --background-color4: #cad7fda4;
    --primary-color: #ffd000;
    --secondary-color: #ffc300;
    --Border-color: #ffb700;
    --stats-use-color: #ff8800;
    --two-use-color: #ffea00;
  }

* {
    
    box-sizing: content-box;
    scroll-behavior: smooth;
    font-family: 'Inter', serif;
}
a {
    text-decoration: none;
    color: #002000;
}
.heading-carrito {
    font-size: 1.78rem;
    width: 100%;
    padding: 1rem;
    text-align: center;
}
.iniciar-carrito {
    width: 100%;
    margin: 2rem auto;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid #000;
}
.searchbtn {
    width: 50px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 8px 8px 0;
    background-color: var(--secondary-color);
    cursor: pointer;
  }

  .searchbar2 {
    display: flex;
    justify-content: center;
  }
  .searchbar2 input {
    width: 250px;
    height: 42px;
    border-radius: 50px 0 0 50px;
    background-color: var(--background-color3);
    padding: 0 20px;
    font-size: 15px;
    border: 2px solid var(--secondary-color);
  }
.iniciar-carrito h2 {
    padding: 2rem 0;
}
.container {
    display: flex;
    justify-content: center;
}
.offcanvas-header {
    margin: auto;
}
.iniciar-carrito a{
    padding: 1rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    background-color: #ffb700;
    border-radius: 12px;
    border: 1px solid #020202;
}
.iniciar-carrito a:hover{
    background-color: #f3ca65;
}
.message {
    position: relative;
}
.logo {
    font-size: clamp(22px, 1.67rem, 2.11rem);
    font-weight: 600;
    color: rgb(47, 141, 70);
  }
  .circle {
    position: absolute;
    color: #f12727;
    background-color: rgba(255, 232, 29, 0.898);
    left: 25px;
    font-weight: 800;
    top: 12px;
    border-radius: 6px;
  }

a {
    text-decoration: none !important;
    color: #002000 !important;
}
.brand-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.navbar {
    margin: auto;
    padding: 1.5rem 1rem;
}
.btn-primary {
   background: none !important;
   border: none !important;
}
.btn-primary:hover {
    background-color: #b6e2be !important;
}
.ul-for-nav {
    display: flex;
    list-style-type: none;
    margin: auto;
}
.ul-for-nav a {
    text-decoration: none;
    color: #002000;
}
.ul-for-nav li {
    padding: 0 10px;
    margin: 8px 10px;
    font-size: 1.12rem;
}
.main-products {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 1rem;
    justify-content: center;
}
.div-for-product {
    margin: 8px;
    border: .3px solid #000;
    display: flex;
    border-radius: 6px;
    flex-direction: column;
    max-width: 300px;
    padding: 1.5rem 1rem;
}
.div-for-product figure {
    margin: auto;
}
.div-buy-product {
    display: flex;
    padding: 6px;
    width: 100%;
}
.div-buy-product span {
    padding: 8px;
}
.product-descr {
    font-size: .7rem;
}
.span-old-price {
    font-size: 12px;
    text-decoration-line: line-through;
}
.span-price {
    background-color: transparent;
    box-shadow:0 0.5rem .5rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    padding: 7px;
    margin-right: 10px; 
}
.button-action {
    background-color: #ff5252;
    padding: 6px 8px;
    color: #fff;
    font-weight: 650;
    cursor: pointer;
    border-radius: 6px;
}
.img-product {
    max-width: 150px;
    aspect-ratio: 9/11;
}
.pay-methods {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin: auto;
    height: 200px;
    align-items: center;
}
.pay-methods h3 {
    font-weight: 450;
}
.pay-options {
    display: flex;
    padding: 10px;
    justify-content: center;
}
.pay-options img {
    padding: 4px 12px;
    aspect-ratio: 12/7;
    max-width: 80px;
    margin: 0 .3rem;
    width: 100%;
    height: auto;
}
.footer-commerce {
    width: 100%;
    min-height: 360px;
    display: flex;
    background-color: transparent;
    box-shadow:0 .3rem .7rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
    align-items: center;   
}
.ul-footer-one {
    padding: .5rem 1rem;
}
.ul-footer-one h2 {
    font-weight: 450;
}
.ul-footer-two h2 {
    font-weight: 450;
}
.ul-footer-one li, .ul-footer-two li { 
    list-style-type: none;
    padding: 6px 0;
}
.ul-footer-two {
    padding: .5rem 1rem;
}

.div-for-small {
    width: 100%;
    margin: auto;
    display: flex;
}
.tienda-copy {
    width: 100%;
    text-align: center;
    margin: auto;
}
.tienda-copy span {
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    margin: auto;
    text-align: center;
}
.business-logo {
    display: flex;
    margin: auto;
    align-items: center;
    border-bottom: 1px solid #020202;
    width: 80%;
}
.responsive-menu {
    display: block;
}
.responsive-menu-list {
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    width: 70%;
    min-width: 380px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f2f2f2;
    flex-direction: column;
    border: 1px solid #040404;
}
.active {
    color: rgb(47, 141, 70);
}
.responsive-menu-list h2 {
    padding: 1rem;
}
.close-icon {
    margin: 2rem auto;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #040404;
}
.menu-normal {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 80%;
    border-bottom: .5px solid #020202;
    margin: 2rem;
}
.menu-normal-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
    
}
#burger-menu {
    display: none;
}
.screen {
    visibility: hidden;
}
.visible {
    display: none;
}
@media (width < 850px) {
    .ul-for-nav {
        display: none;
    }
    .responsive-menu {
        display: block;
    }
    #burger-menu {
        display: block;
    }
    .nav {
        display: block;
    }
    #cart-responsive {
        display: block;
        padding: 6px;
        margin-right: 20px;
    }

}
@media (width > 850px) {
    .responsive-menu-list {
        visibility: hidden;
    }
    #cart-responsive {
        display: none;
    }

}
@media (width < 690px) {
    .brand-container {
        flex-direction: column;
    }
    .container-fluid {
        align-items: center;
    }
}

