:root {
    --background-color1: #fafaff;
    --background-color2: #ffffff;
    --background-color3: #ededed;
    --background-color4: #cad7fda4;
    --primary-color: #ffd000;
    --secondary-color: #ffc300;
    --Border-color: #ffb700;
    --stats-use-color: #ff8800;
    --two-use-color: #ffea00;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    scroll-behavior: smooth;
    font-family: 'Inter', serif;
}
.header-commerce {
    display: flex;
    width: 100%;
    height: 20vh;
    margin: auto;
    background-color: transparent;
    box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
    align-items: center;
}
.message {
    position: relative;
}
.logo {
    font-size: 27px;
    font-weight: 600;
    color: rgb(47, 141, 70);
  }
  .circle {
    height: 7px;
    width: 7px;
    display: none;
    position: absolute;
    background-color: #fa7bb4;
    left: 19px;
    top: 8px;
  }

a {
    text-decoration: none;
    color: #002000;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin: auto;
}
.nav h1 {
    font-weight: 400;
    font-size: 2.23rem;
    text-shadow: 0 1px .3px #002000;
}
.searchbar form{
    display: flex;
}
.searchbar input {
    width: 250px;
    height: 42px;
    border-radius: 50px 0 0 50px;
    background-color: var(--background-color3);
    padding: 0 20px;
    font-size: 15px;
    outline: none;
    border: none;
  }
  .searchbtn {
    width: 50px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 50px 50px 0px;
    background-color: var(--secondary-color);
    cursor: pointer;
  }

.ul-for-nav {
    display: flex;
    list-style-type: none;
    margin: auto;
}
.ul-for-nav a {
    text-decoration: none;
    color: #002000;
}
.ul-for-nav li {
    padding: 0 6px;
    margin: 8px 0;
    font-size: 1.12rem;
}
.main-products {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 1rem;
    justify-content: center;
}
.div-for-product {
    margin: 8px;
    border: .3px solid #000;
    display: flex;
    border-radius: 6px;
    flex-direction: column;
    max-width: 300px;
    padding: 1.5rem 1rem;
}
.div-for-product figure {
    margin: auto;
}
.div-buy-product {
    display: flex;
    padding: 6px;
    width: 100%;
}
.div-buy-product span {
    padding: 8px;
}
.product-descr {
    font-size: .7rem;
}
.span-old-price {
    font-size: 12px;
    text-decoration-line: line-through;
}
.span-price {
    background-color: transparent;
    box-shadow:0 0.5rem .5rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    padding: 7px;
    margin-right: 10px; 
}
.button-action {
    background-color: #ff5252;
    padding: 6px 8px;
    color: #fff;
    font-weight: 650;
    cursor: pointer;
    border-radius: 6px;
}
.img-product {
    max-width: 150px;
    aspect-ratio: 9/11;
}
.pay-methods {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin: auto;
    height: 200px;
    align-items: center;
}
.pay-methods h3 {
    font-weight: 450;
}
.pay-options {
    display: flex;
    padding: 10px;
    justify-content: center;
}
.pay-options img {
    padding: 4px 12px;
    aspect-ratio: 12/7;
    max-width: 80px;
    margin: 0 .3rem;
    width: 100%;
    height: auto;
}
.footer-commerce {
    width: 100%;
    min-height: 360px;
    display: flex;
    background-color: transparent;
    box-shadow:0 .3rem .7rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
    align-items: center;   
}
.ul-footer-one {
    padding: .5rem 1rem;
}
.ul-footer-one h2 {
    font-weight: 450;
}
.ul-footer-two h2 {
    font-weight: 450;
}
.ul-footer-one li, .ul-footer-two li { 
    list-style-type: none;
    padding: 6px 0;
}
.ul-footer-two {
    padding: .5rem 1rem;
}

.div-for-small {
    width: 100%;
    margin: auto;
    display: flex;
}
.tienda-copy {
    width: 100%;
    text-align: center;
    margin: auto;
}
.tienda-copy span {
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    margin: auto;
    text-align: center;
}
.business-logo {
    display: flex;
    margin: auto;
    align-items: center;
    border-bottom: 1px solid #020202;
    width: 80%;
}
.responsive-menu {
    display: block;
}
.responsive-menu-list {
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    width: 55%;
    max-width: 400px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f2f2f2;
    flex-direction: column;
    border: 1px solid #040404;
}
.active {
    color: rgb(47, 141, 70);
}
.responsive-menu-list h2 {
    padding: 1rem;
}
.close-icon {
    margin: 2rem auto;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #040404;
}
.menu-normal {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 60%;
    border-bottom: .5px solid #020202;
    margin: 2rem;
}
.menu-normal-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
    
}
.responsive-menu-list .opinions {
    padding-left: 1rem;
    display: flex;
    margin: auto 8px;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}
.responsive-menu-list .opinions svg{
    padding: 3px 5px;
}
.responsive-menu {
    display: none;
}
.screen {
    visibility: hidden;
}
.visible {
    display: none;
}
@media (width < 850px) {
    .ul-for-nav {
        display: none;
    }
    .responsive-menu {
        display: block;
    }
    .nav {
        display: block;
    }
    .header-commerce {
        flex-direction: row-reverse;
        padding: 0 1rem;
    }
    #cart-responsive {
        display: block;
        padding: 6px;
        border: 2px solid #020202;
        border-radius: 40%;
        margin-right: 20px;
    }

}
@media (width > 850px) {
    .responsive-menu-list {
        visibility: hidden;
    }
    #cart-responsive {
        display: none;
    }
}

@media (width < 420px) {

    .header-commerce {
        flex-direction: column;
    }
    .nav-for {
        flex-direction: column;
    }
}

